body {
	background-color: #34495E;
	font-family: 'Open Sans', sans-serif;
}

form {
	display: flex;
	justify-content: space-around;
	margin: 2% 5% 1%;
}

input, select {
	font-size: 125%;
	width: 125px;
}

button {
	font-size: 115%;
}

p {
	font-size: 125%;
	color: white;
}